.skills-container{
    gap:2rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.skills-container> div{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding:2.4rem 5rem;
    transition: var(--transition);
}

.skills-container>div:hover{
    cursor: default;
    border-color:var(--color-primary);
    background: transparent;
}
.skills-content{
    row-gap: 2rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.skills-details{
    gap:1rem;
    display:flex;
}

.skills-details-icons{
    color:var(--color-primary);
    margin-top:6px;
}
h3{
    color:var(--color-primary);
    margin-bottom: 2rem;
    text-align: center;
}


@media screen and (max-width: 1024px){
    .skills-container{
        grid-template-columns: 1fr;
    }
    .skills-container>div{
        margin:0 auto;
        width:80%;
        padding:2rem;
    }

   }
   
@media screen and (max-width: 600px){
    .skills-container{
    gap:1rem;
    }
    .skills-container>div{
        width:100%;
        padding:2rem;
    }
   }